<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Kursos- Tu Academia</h1>
    </header>

    
    <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a href="{% url 'home' %}" class="btn btn-outline-primary">Home</a>
                <a href="{% url 'lista_profesores' %}" class="btn btn-outline-primary">Profesores</a>
                <a href="{% url 'lista_alumnos' %}" class="btn btn-outline-primary">Alumnos</a>
                <a href="{% url  'lista_cursos'%}" class="btn btn-outline-primary">Cursos</a>
                <a href="{% url  'registro'%}" class="btn btn-outline-primary">Registrarme</a>    
                <a href="{% url  'inicio_sesion'%}" class="btn btn-outline-primary">Log In</a>                   
            </div>
    </nav>
    

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Pie de página común</p>
    </footer>
</body>
</html>