{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Domina la Tecnología con Nuestros Cursos{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Domina la Tecnología con Nuestros Cursos</h1>
    </header>
    <main>
        <section>
            <h2>Bienvenido a Kursos</h2>
            <p>Nuestra misión es proporcionarte las habilidades y conocimientos necesarios para destacar en la era digital.</p>
            <h3>Beneficios Clave:</h3>
            <ul>
                <li>Adquiere habilidades en demanda.</li>
                <li>Accede a emocionantes oportunidades de carrera.</li>
                <li>Mantente al día en un mundo tecnológico en constante evolución.</li>
            </ul>
            <h3>Variedad de Cursos:</h3>
            <p>Descubre nuestra amplia gama de cursos, que incluyen desarrollo de software, diseño gráfico, ciberseguridad, análisis de datos, inteligencia artificial y más. Sea cual sea tu interés o nivel de experiencia, tenemos el curso perfecto para ti.</p>
            <p>Nuestros cursos son diseñados y enseñados por expertos en la industria. Ofrecemos contenido actualizado y métodos de enseñanza efectivos para garantizar tu éxito.</p>
        </section>
    </main>
    <footer>
        <!-- Pie de página común -->
    </footer>
</body>
</html>
